html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 150ms linear;
}

.polaroid:first-child {
  transform: rotate(-15deg);
  left: 12em;
  top: 7em;
}

.polaroid:nth-child(2) {
  transform: rotate(8deg);
  left: 18em;
  top: 9em;
  z-index: 3;
}

.polaroid:nth-child(3) {
  transform: rotate(32deg);
  left: 24em;
  top: 6em;
  z-index: 2;
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  text-align: center;
  bottom: 1em;
  left: 5em;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 1000;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0);
}
